    <title>{{title}}</title>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
    <!--
      === NOTA BENE ===
      For the three scripts below, if your spec resides on dev.w3 you can check them
      out in the same tree and use relative links so that they'll work offline,
     -->
   <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script type="text/javascript" class="remove">
      // set this in the config section
      var respecConfig = {{{respecConfig}}};
    </script>
    <style>
.passed {
  font-weight: bold;
  background-color: lightgreen;
  text-align: center;
}
.failed {
  font-weight: bold;
  background-color: pink;
  text-align: center;
}
.unimplemented {
  font-weight: bold;
  background-color: lightyellow;
  text-align: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
    </style>
